



.lead-heading {
    
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 4.166666507720947px;
    margin-top: -60px; 
    padding-top: 50px;
}

.yarris {
    margin-top: 0px;
}

.info-bar-bottom {
  text-align: center;
  
}


  .bottom-aipt {
    padding-bottom: 40px;
  }
 




.bottom-p, .lead-path {
    font-family: DM Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    color: #b5b2b2;

}

