.circle-wrapper-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 200px;
    
   
}

.progesscricle {
    margin: 20px;
}

.Capabilities {
    text-align: center;
    margin-top: 80px;
}

@media  (max-width: 550px) {

/*MQ header and top main*/



.circle-wrapper-bar {
  display: grid;
  
  margin-bottom: 1000px;
  max-width: 200px;
}



}